homer.internal {
    tls internal
    reverse_proxy homer:8080
}

komga.internal {
    tls internal
    reverse_proxy komga:25600
}

jellyfin.internal {
    tls internal
    reverse_proxy jellyfin:8096
}

freshrss.internal {
    tls internal
    reverse_proxy freshrss:80
}

sonarr.internal {
    tls internal
    reverse_proxy media:8989
}

radarr.internal {
    tls internal
    reverse_proxy media:7878
}

lidarr.internal {
    tls internal
    reverse_proxy media:8686
}

readarr.internal {
    tls internal
    reverse_proxy media:8787
}

qbittorrent.internal {
    tls internal
    reverse_proxy media:8080
}

qbittorrent-manual.internal {
    tls internal
    reverse_proxy qbittorrent-manual:8081
}

prowlarr.internal {
    tls internal
    reverse_proxy media:9696
}

slskd.internal {
    tls internal
    reverse_proxy media:5030
}

rsshub.internal {
    tls internal
    reverse_proxy rsshub:1200
}

homeassistant.internal {
    tls internal
    reverse_proxy homeassistant:8123
}

zigbee2mqtt.internal {
    tls internal
    reverse_proxy homeassistant:8080
}

http://certificates.internal {
    handle_path /* {
        root * /data/caddy/pki/authorities/local
        file_server browse {
            hide *.key
        }
    }
}

pihole.internal {
    tls internal
    reverse_proxy pihole:80
}

media.internal {
    tls internal
    handle_path /* {
        root * /media
        file_server browse
    }
}
